body {
    height: 100vh;
    /*background-image: url('path/to/header-background.jpg');*/
    background-color: red;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    text-align: center;
}

#profile {
    margin-left: 350px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 5px solid #000;
    object-fit: cover;
  }

.tech-stack-icon{
    width: 55px;
}
