<header class="full-height">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Sobre min</h1>
        <p>Desenvolvedor .NET desde 2021, aprimorando desempenho, integrando sistemas, mantendo legados e criando novas aplicações e APIs com boas práticas e tecnologias de ponta.</p>
        <p>Sou formado em Analise e Desenvolvimento de Sistemas, com diversas certificacoes e constante busca pelo aprendizado continuo.</p>

        <h4 class="mt-5">Tech Stack</h4>
          <ul class="list-unstyled d-flex flex-wrap mt-3">
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/121405754-b4f48f80-c95d-11eb-8893-fc325bde617f.png" alt="net-core-icon"></li>
            <!-- Add other tech stack icons here -->
            <li><img class="tech-stack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" alt="csharp-icon"></li>
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/183890595-779a7e64-3f43-4634-bad2-eceef4e80268.png" alt="angular-js-icon"></li>
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/117447155-6a868a00-af3d-11eb-9cfe-245df15c9f3f.png" alt="java-script-icon"></li>
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/117208740-bfb78400-adf5-11eb-97bb-09072b6bedfc.png" alt="postgresql-icon"></li>
            <li><img class="tech-stack-icon" src="https://github.com/marwin1991/profile-technology-icons/assets/19180175/3b371807-db7c-45b4-8720-c0cfc901680a" alt="mssqlserver-icon"></li>
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/117207330-263ba280-adf4-11eb-9b97-0ac5b40bc3be.png" alt="docker-icon"></li>
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/183911544-95ad6ba7-09bf-4040-ac44-0adafedb9616.png" alt="azure-icon"></li>
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/193427941-9437dbbe-376f-40dc-9573-0ef5c02a26a7.png" alt="unity-icon"></li>
            <li><img class="tech-stack-icon" src="https://github.com/marwin1991/profile-technology-icons/assets/76662862/2481dc48-be6b-4ebb-9e8c-3b957efe69fa" alt="linux-icon"></li>
            <li><img class="tech-stack-icon" src="	https://user-images.githubusercontent.com/25181517/183898054-b3d693d4-dafb-4808-a509-bab54cf5de34.png" alt="bootstrap-icon"></li>
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/183898674-75a4a1b1-f960-4ea9-abcb-637170a00a75.png" alt="css-icon"></li>
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/192158954-f88b5814-d510-4564-b285-dff7d6400dad.png" alt="html-icon"></li>
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/186711335-a3729606-5a78-4496-9a36-06efcc74f800.png" alt="swagger-icon"></li>
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/192109061-e138ca71-337c-4019-8d42-4792fdaa7128.png" alt="postman-icon"></li>
            <li><img class="tech-stack-icon" src="https://user-images.githubusercontent.com/25181517/192108372-f71d70ac-7ae6-4c0d-8395-51d8870c2ef0.png" alt="git-icon"></li>
          </ul>
      </div>
      <div class="col-md-6">
        <img src="/assets/img/profile.jpeg" alt="profile" id="profile">
      </div>
    </div>
  </div>  
</header>




          