<section id="projects" class="mt-5 full-height">
  <div class="container">
    <h1>Projetos</h1>
    <div id="projectCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- Loop through projects -->
        <div *ngFor="let projectGroup of projectsGrouped; let i = index" [class]="i === 0 ? 'carousel-item active' : 'carousel-item'">
          <div class="row">
            <!-- Loop through projects in each group -->
            <div *ngFor="let project of projectGroup" class="col-md-4">
              <div class="card">
                <img [src]="project.image" class="card-img-top" [alt]="project.title">
                <div class="card-body">
                  <h5 class="card-title">{{ project.title }}</h5>
                  <p class="card-text">{{ project.description }}</p>
                  <p class="card-text"><small class="text-secondary">Techs: {{ project.techs }}</small></p>
                  <div class="text-center">
                    <a [href]="project.link" class="btn btn-dark">Acessar Projeto</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
