<header>
  <img id="profileImage" src="images/profile.jpg" alt="Profile picture" />
  <h1 class="text-white">Olá 👋🏻, seja bem vindo <br />ao meu <span class="text-success">Site</span>!</h1>
</header>

<div class="card bg-light float-end mt-5 mb-5">
  <div class="card-body">
    <h3 class="card-title">Sobre mim 🚀:</h3>
    <p>Meu nome é João Vitor, sou um desenvolvedor apaixonado e sou graduado em Análise e Desenvolvimento de Sistemas. Ao longo da minha jornada acadêmica, adquiri uma base sólida que combinei com experiência prática, destacando-me no universo da programação. Minha especialidade se concentra em C#, AngularJS e SQL Server, áreas em que venho aprimorando minhas habilidades para criar soluções inovadoras e eficientes.</p>

    <h5>O Que Faço:</h5>
    <ul>
      <li>Desenvolvimento Backend em .NET.</li>
      <li>Especialista em C#, VB.Net, AngularJS.</li>
      <li>Domínio em SQL Server para bancos de dados eficientes.</li>
    </ul>

    <h5>Experiência:</h5>
    <p>Trago uma sólida formação acadêmica e experiência prática, traduzidas em projetos desafiadores ao longo da minha carreira.</p>

    <h5>Destaque Técnico:</h5>
    <ul>
      <li>Criação de soluções eficazes em C# e AngularJS.</li>
      <li>Gerenciamento de bancos de dados com SQL Server.</li>
      <li>Desenvolvimento Backend com foco em .NET e ASP.NET MVC.</li>
    </ul>

    <h5>Compromisso:</h5>
    <p>Comprometido em entregar soluções tecnológicas que superam expectativas, combino habilidades técnicas com uma abordagem centrada no usuário.</p>

    <h5>Interessado em:</h5>
    <p>Colaborações desafiadoras e oportunidades inovadoras. Pronto para contribuir com meu conhecimento em seu próximo projeto.</p>

    <h5>Vamos Conversar?</h5>
    <p>Estou animado para explorar novos desafios e oportunidades. Se você busca um desenvolvedor dedicado e inovador, estou aqui para ajudar. Vamos criar algo incrível juntos!</p>

    <a href="#" class="btn btn-success mt-2">Entrar em contato 📧</a>
  </div>
</div>


<footer class="fixed-bottom text-white-50">
  <ul class="d-flex flex-row">
    <li class="p-2"></li>
    <li class="p-2"></li>
    <li class="p-2"></li>
  </ul>

  <h6 class="float-end me-5">© João Vitor Soares - 2023</h6>
  
</footer>
