/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


:root {
  --primary: #1976d2;
  --body: #fff;
  --text-menu: #fff;
  --text-body: #4b4b4b;
}

:root .dark-theme {
  --primary: #0d47a1;
  --body: #F9F9F9;
  --text-menu: #fff;
  --text-body: #fff;
}

body {
  background-color: var(--body);
  font-family: 'Rubik', sans-serif;
}

h1 {
    color: #4A9ABC;
}

form{
  padding: 25px;
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.btn-primary
{
  color:white;
  background-color: #4A9ABC;
  border: none;
}
  .btn-primary:hover{
    background-color: #315a6b;
    border: none;
  }
